<p id="notice"><%= notice %></p>

<p>
  <b>Business:</b>
  <%= @certification.business_id %>
</p>

<p>
  <b>Cert date:</b>
  <%= @certification.cert_date %>
</p>

<p>
  <b>Expiry date:</b>
  <%= @certification.expiry_date %>
</p>

<p>
  <b>Mand1:</b>
  <%= @certification.mand1 %>
</p>

<p>
  <b>Mand2:</b>
  <%= @certification.mand2 %>
</p>

<p>
  <b>Mand3:</b>
  <%= @certification.mand3 %>
</p>

<p>
  <b>Mand4:</b>
  <%= @certification.mand4 %>
</p>

<p>
  <b>Mand5:</b>
  <%= @certification.mand5 %>
</p>

<p>
  <b>Safety1 c:</b>
  <%= @certification.safety1_c %>
</p>

<p>
  <b>Safety1 d:</b>
  <%= @certification.safety1_d %>
</p>

<p>
  <b>Nutrition1 c:</b>
  <%= @certification.nutrition1_c %>
</p>

<p>
  <b>Nutrition1 d:</b>
  <%= @certification.nutrition1_d %>
</p>

<p>
  <b>Nutrition2 c:</b>
  <%= @certification.nutrition2_c %>
</p>

<p>
  <b>Nutrition2 d:</b>
  <%= @certification.nutrition2_d %>
</p>

<p>
  <b>Nutrition3 c:</b>
  <%= @certification.nutrition3_c %>
</p>

<p>
  <b>Nutrition3 d:</b>
  <%= @certification.nutrition3_d %>
</p>

<p>
  <b>Nutrition4 c:</b>
  <%= @certification.nutrition4_c %>
</p>

<p>
  <b>Nutrition4 d:</b>
  <%= @certification.nutrition4_d %>
</p>

<p>
  <b>Nutrition5 c:</b>
  <%= @certification.nutrition5_c %>
</p>

<p>
  <b>Nutrition5 d:</b>
  <%= @certification.nutrition5_d %>
</p>

<p>
  <b>Labor1 c:</b>
  <%= @certification.labor1_c %>
</p>

<p>
  <b>Labor1 d:</b>
  <%= @certification.labor1_d %>
</p>

<p>
  <b>Labor2 c:</b>
  <%= @certification.labor2_c %>
</p>

<p>
  <b>Labor2 d:</b>
  <%= @certification.labor2_d %>
</p>

<p>
  <b>Labor3 c:</b>
  <%= @certification.labor3_c %>
</p>

<p>
  <b>Labor3 d:</b>
  <%= @certification.labor3_d %>
</p>

<p>
  <b>Labor4 c:</b>
  <%= @certification.labor4_c %>
</p>

<p>
  <b>Labor4 d:</b>
  <%= @certification.labor4_d %>
</p>

<p>
  <b>Labor5 c:</b>
  <%= @certification.labor5_c %>
</p>

<p>
  <b>Labor5 d:</b>
  <%= @certification.labor5_d %>
</p>

<p>
  <b>Labor6 c:</b>
  <%= @certification.labor6_c %>
</p>

<p>
  <b>Labor6 d:</b>
  <%= @certification.labor6_d %>
</p>

<p>
  <b>Labor7 c:</b>
  <%= @certification.labor7_c %>
</p>

<p>
  <b>Labor7 d:</b>
  <%= @certification.labor7_d %>
</p>

<p>
  <b>Community1 c:</b>
  <%= @certification.community1_c %>
</p>

<p>
  <b>Community1 d:</b>
  <%= @certification.community1_d %>
</p>

<p>
  <b>Community2 c:</b>
  <%= @certification.community2_c %>
</p>

<p>
  <b>Community2 d:</b>
  <%= @certification.community2_d %>
</p>

<p>
  <b>Community3 c:</b>
  <%= @certification.community3_c %>
</p>

<p>
  <b>Community3 d:</b>
  <%= @certification.community3_d %>
</p>

<p>
  <b>Community4 c:</b>
  <%= @certification.community4_c %>
</p>

<p>
  <b>Community4 d:</b>
  <%= @certification.community4_d %>
</p>

<p>
  <b>Source1 c:</b>
  <%= @certification.source1_c %>
</p>

<p>
  <b>Source1 d:</b>
  <%= @certification.source1_d %>
</p>

<p>
  <b>Conserv1 c:</b>
  <%= @certification.conserv1_c %>
</p>

<p>
  <b>Conserv1 d:</b>
  <%= @certification.conserv1_d %>
</p>

<p>
  <b>Conserv2 c:</b>
  <%= @certification.conserv2_c %>
</p>

<p>
  <b>Conserv2 d:</b>
  <%= @certification.conserv2_d %>
</p>

<p>
  <b>Conserv3 c:</b>
  <%= @certification.conserv3_c %>
</p>

<p>
  <b>Conserv3 d:</b>
  <%= @certification.conserv3_d %>
</p>

<p>
  <b>Conserv4 c:</b>
  <%= @certification.conserv4_c %>
</p>

<p>
  <b>Conserv4 d:</b>
  <%= @certification.conserv4_d %>
</p>

<p>
  <b>Conserv5 c:</b>
  <%= @certification.conserv5_c %>
</p>

<p>
  <b>Conserv5 d:</b>
  <%= @certification.conserv5_d %>
</p>

<p>
  <b>Conserv6 c:</b>
  <%= @certification.conserv6_c %>
</p>

<p>
  <b>Conserv6 d:</b>
  <%= @certification.conserv6_d %>
</p>

<p>
  <b>Conserv7 c:</b>
  <%= @certification.conserv7_c %>
</p>

<p>
  <b>Conserv7 d:</b>
  <%= @certification.conserv7_d %>
</p>

<p>
  <b>Conserv8 c:</b>
  <%= @certification.conserv8_c %>
</p>

<p>
  <b>Conserv8 d:</b>
  <%= @certification.conserv8_d %>
</p>

<p>
  <b>Conserv9 c:</b>
  <%= @certification.conserv9_c %>
</p>

<p>
  <b>Conserv9 d:</b>
  <%= @certification.conserv9_d %>
</p>

<p>
  <b>Conserv10 c:</b>
  <%= @certification.conserv10_c %>
</p>

<p>
  <b>Conserv10 d:</b>
  <%= @certification.conserv10_d %>
</p>

<p>
  <b>Conserv11 c:</b>
  <%= @certification.conserv11_c %>
</p>

<p>
  <b>Conserv11 d:</b>
  <%= @certification.conserv11_d %>
</p>

<p>
  <b>Conserv12 c:</b>
  <%= @certification.conserv12_c %>
</p>

<p>
  <b>Conserv12 d:</b>
  <%= @certification.conserv12_d %>
</p>

<p>
  <b>Conserv13 c:</b>
  <%= @certification.conserv13_c %>
</p>

<p>
  <b>Conserv13 d:</b>
  <%= @certification.conserv13_d %>
</p>

<p>
  <b>Conserv14 c:</b>
  <%= @certification.conserv14_c %>
</p>

<p>
  <b>Conserv14:</b>
  <%= @certification.conserv14_d %>
</p>

<p>
  <b>Optn1 c:</b>
  <%= @certification.optn1_c %>
</p>

<p>
  <b>Optn1 d:</b>
  <%= @certification.optn1_d %>
</p>

<p>
  <b>Optn2 c:</b>
  <%= @certification.optn2_c %>
</p>

<p>
  <b>Optn2 d:</b>
  <%= @certification.optn2_d %>
</p>

<p>
  <b>Optn3 c:</b>
  <%= @certification.optn3_c %>
</p>

<p>
  <b>Optn3 d:</b>
  <%= @certification.optn3_d %>
</p>

<p>
  <b>Optn4 c:</b>
  <%= @certification.optn4_c %>
</p>

<p>
  <b>Optn4 d:</b>
  <%= @certification.optn4_d %>
</p>

<p>
  <b>Optn5 c:</b>
  <%= @certification.optn5_c %>
</p>

<p>
  <b>Optn5 d:</b>
  <%= @certification.optn5_d %>
</p>


<%= link_to 'Edit', edit_certification_path(@certification) %> |
<%= link_to 'Back', certifications_path %>
